@import '../../variables.scss';

.navLink {
    padding: 1rem .75rem;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: $white;

    &:visited {
        color: $white;
    }

    &:hover {
        color: goldenrod;
        font-weight: bold;
    }
}

.active {
    font-weight: bold;
    background: linear-gradient(90deg, #ff8a05, #f9b331);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}